@-webkit-keyframes appairing {
  0% {
    opacity: 0%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  10% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes appairing {
  0% {
    opacity: 0%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  10% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes spinner-background {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes spinner-background {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes Button-gradian {
  0% {
    background-position: 84% 0%;
  }
  50% {
    background-position: 17% 100%;
  }
  100% {
    background-position: 84% 0%;
  }
}

@keyframes Button-gradian {
  0% {
    background-position: 84% 0%;
  }
  50% {
    background-position: 17% 100%;
  }
  100% {
    background-position: 84% 0%;
  }
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.load__bar {
  background-color: #9356DC;
  height: 100%;
  width: 3vh;
  -webkit-animation: bars 1000ms backwards infinite;
          animation: bars 1000ms backwards infinite;
}

.load__bar--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.load__bar--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.load__bar--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.load__bar--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.load__bar--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes bars {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes bars {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 40px;
  font-weight: 500;
  color: #5a5a5a;
}

h1 {
  font-size: 50px;
}

h3 {
  font-weight: 300;
  font-size: 45px;
  color: #5a5a5a;
}

.explorer-font {
  font-size: 42px;
  color: #f8f8f8;
  font-weight: 500;
}

.fonctionnement-buttons {
  font-size: 40px;
  font-weight: 500;
  color: black;
}

h4 {
  font-size: 42px;
  color: black;
}

h5 {
  font-size: 40px;
  font-weight: 300;
  color: black;
}

h6 {
  font-size: 40px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.new {
  font-size: 42px;
  color: green;
}

.retour {
  color: black;
}

.menu-title {
  font-family: 'Shrikhand', cursive;
}

.price {
  font-size: 42px;
  color: black;
}

.explorer-button {
  background: linear-gradient(38deg, #9356dc, #ff79da);
  background-size: 400% 400%;
  -webkit-animation: Button-gradian 6s ease infinite;
  animation: Button-gradian 6s ease infinite;
  height: 140px;
  width: 600px;
  border-radius: 90px;
  border-style: none;
  -webkit-box-shadow: 0px 5px 10px #a4a4a4;
          box-shadow: 0px 5px 10px #a4a4a4;
}

.explorer-button:hover {
  cursor: pointer;
}

.fonctionnement-buttons {
  width: 850px;
  height: 150px;
  margin-bottom: 50px;
  border-radius: 25px;
  border-style: none;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 5px 10px #dbdbdb;
          box-shadow: 0px 5px 10px #dbdbdb;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.fonctionnement-buttons .fonctionnement-icons {
  color: grey;
  float: left;
  margin-left: 70px;
  vertical-align: baseline;
}

.fonctionnement-buttons:hover {
  background-color: #d7cdfd;
}

.fonctionnement-buttons:hover .fonctionnement-icons {
  color: #9356dc;
}

.fonctionnement-button-text {
  float: left;
  padding-left: 100px;
  vertical-align: baseline;
}

.heart-main {
  float: right;
  margin-right: 30px;
  font-size: 90px;
  margin-top: 30px;
}

.heart {
  color: white;
  text-shadow: 0 0 10px #000;
  border-width: 10px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition: all 330ms ease-in-out;
  transition: all 330ms ease-in-out;
}

.heart:hover {
  color: #a8003e;
  cursor: pointer;
  -webkit-transform: none;
          transform: none;
}

.back-arrow {
  float: inline-start;
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 50px;
}

.btn-plats {
  background-color: white;
  border-radius: 50px;
  width: 92%;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 20px;
}

.btn-plats:hover {
  cursor: pointer;
}

.btn-plats:hover .green-ok {
  width: 20%;
}

.btn-plats:hover .fa-circle-check {
  opacity: 100%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn-plats:hover .description-menus {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 500px;
  height: 50px;
}

.btn-plats:active {
  cursor: pointer;
}

.btn-plats:active .green-ok {
  width: 20%;
}

.btn-plats:active .fa-circle-check {
  opacity: 100%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn-plats:active .description-menus {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 500px;
  height: 50px;
}

.green-ok {
  background-color: #99E2D0;
  width: 0%;
  height: 220px;
  float: right;
  margin-top: -140px;
  margin-right: 0px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: width;
  transition-property: width;
  overflow-x: hidden;
}

.fa-circle-check {
  color: white;
  font-size: 80px;
  margin-top: 70px;
  margin-left: 30%;
  opacity: 0%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  overflow-x: hidden;
}

.numbers {
  float: left;
  margin-left: -30px;
  background-color: #9356DC;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 100%;
}

.commander-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.logo {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.location {
  text-align: center;
  color: #151515;
}

.header-background {
  padding-top: 5%;
  background-color: white;
  height: 100px;
  display: block;
  -webkit-box-shadow: 0px 1px 15px darkgray;
          box-shadow: 0px 1px 15px darkgray;
}

.reservation-background {
  display: block;
  background-color: #f8f8f8;
  height: 650px;
}

.reserver-menu {
  max-width: 70%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.decouvrez-menu {
  text-align: center;
}

nav {
  text-align: center;
  margin-top: 30px;
}

.fonctionnement {
  background-color: white;
  display: inline-block;
  width: 100%;
  height: 800px;
}

.title-fonctionnement {
  text-align: center;
  padding-right: 400px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.fonctionnement-list {
  text-align: center;
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.restaurants {
  background-color: #f8f8f8;
  display: inline-block;
  width: 100%;
  height: 3000px;
}

.title-restaurants {
  text-align: center;
  padding-right: 500px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.pic-la-palette-du-gout {
  height: 450px;
  width: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.la-palette-du-gout {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 10px #dbdbdb;
          box-shadow: 0px 5px 10px #dbdbdb;
  -webkit-transition-property: scale;
  transition-property: scale;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.restaurant-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-left: 20px;
}

.restaurant-location {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 20px;
}

.pic-la-note-enchantee {
  height: 450px;
  width: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.la-note-enchantee {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 10px #dbdbdb;
          box-shadow: 0px 5px 10px #dbdbdb;
  -webkit-transition-property: scale;
  transition-property: scale;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.cards-padding {
  padding-top: 40px;
}

.pic-a-la-francaise {
  height: 450px;
  width: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.a-la-francaise {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 10px #dbdbdb;
          box-shadow: 0px 5px 10px #dbdbdb;
  -webkit-transition-property: scale;
  transition-property: scale;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.pic-le-delice-des-sens {
  height: 450px;
  width: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.le-delice-des-sens {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 10px #dbdbdb;
          box-shadow: 0px 5px 10px #dbdbdb;
  -webkit-transition-property: scale;
  transition-property: scale;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.logo-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 300px;
  margin-top: 100px;
  margin-bottom: 60px;
  width: 400px;
  height: auto;
  color: white;
  font-size: 50px;
  font-family: 'Shrikhand', cursive;
}

.footer-background {
  background-color: #3b3b3b;
  display: inline-block;
  width: 100%;
  height: 700px;
}

.footer-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 200px;
  margin-top: 40px;
  width: 500px;
  height: auto;
}

.new {
  position: absolute;
  left: 400px;
  margin-top: 20px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #99E2D0;
}

.a-la-francaise-menu-pic {
  width: 100%;
  height: auto;
  float: inline-start;
}

.menu-background {
  float: left;
  position: absolute;
  top: 700px;
  width: 100%;
  height: 3300px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #eeeeee;
}

.menu-background-2 {
  float: left;
  position: absolute;
  top: 700px;
  width: 100%;
  height: 3500px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #eeeeee;
}

.menu-title {
  margin-top: 80px;
  margin-left: 100px;
}

.btn-menu-title {
  margin-top: 15px;
}

.heart-menu {
  position: absolute;
  right: 100px;
  top: 80px;
}

.categories {
  margin-top: 50px;
  margin-left: 50px;
}

.price {
  float: right;
  margin-right: 50px;
  font-weight: 500;
  margin-top: -50px;
}

.categories-underline {
  background-color: #99E2D0;
  height: 10px;
  width: 112px;
}

.footer-background-menu {
  background-color: #3b3b3b;
  display: inline-block;
  width: 100%;
  height: 600px;
  padding-top: 3150px;
}

.footer-background-menu-2 {
  background-color: #3b3b3b;
  display: inline-block;
  width: 100%;
  height: 600px;
  padding-top: 2800px;
}

.btn-plats-1 {
  opacity: 0%;
  -webkit-animation: 1500ms ease-in-out 1000ms 1 appairing;
          animation: 1500ms ease-in-out 1000ms 1 appairing;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.btn-plats-2 {
  opacity: 0%;
  -webkit-animation: 2500ms ease-in-out 1500ms 1 appairing;
          animation: 2500ms ease-in-out 1500ms 1 appairing;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.btn-plats-3 {
  opacity: 0%;
  -webkit-animation: 3000ms ease-in-out 2000ms 1 appairing;
          animation: 3000ms ease-in-out 2000ms 1 appairing;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.spinner-background {
  -webkit-animation: 1s ease-in-out 3s 1 spinner-background;
          animation: 1s ease-in-out 3s 1 spinner-background;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0%;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  width: 50%;
}

.description-menus {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 700px;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 4em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

body {
  background-color: #ebebeb;
}
/*# sourceMappingURL=main.css.map */