.explorer-button {
    background-color: $colour-primary;
    height: 70px;
    width: 300px;
    border-radius: 40px;
    border-style: none;
    box-shadow: 0px 5px 10px rgb(164, 164, 164);
}

.fonctionnement-buttons {
    width: 500px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 25px;
    border-style: none;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 5px 10px rgb(219, 219, 219);
}

.fonctionnement-icons {
    color: grey;
    float: left;
    margin-left: 50px;
}

.heart {
    color: grey;
    float: right;
    margin-right: 30px;
    font-size: 30px;
    margin-top: 30px;
}