.explorer-button {
    background: linear-gradient(38deg, #9356dc, #ff79da);
    background-size: 400% 400%;
    -webkit-animation: Button-gradian 6s ease infinite;
    -moz-animation: Button-gradian 6s ease infinite;
    -o-animation: Button-gradian 6s ease infinite;
    animation: Button-gradian 6s ease infinite;
    height: 140px;
    width: 600px;
    border-radius: 90px;
    border-style: none;
    box-shadow: 0px 5px 10px rgb(164, 164, 164);
    &:hover {
        cursor: pointer;
    }
}

.fonctionnement-buttons {
    width: 850px;
    height: 150px;
    margin-bottom: 50px;
    border-radius: 25px;
    border-style: none;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 5px 10px rgb(219, 219, 219);
    transition-property: background-color;
    transition-duration: 500ms;
        .fonctionnement-icons {
        color: grey;
        float: left;
        margin-left: 70px;
        vertical-align: baseline;
            }
        }

.fonctionnement-buttons:hover {
    background-color: rgb(215, 205, 253);
    .fonctionnement-icons {
        color: #9356dc;
    }
}

.fonctionnement-button-text {
    float: left;
    padding-left: 100px;
    vertical-align: baseline;
}

.heart {
    color: grey;
    float: right;
    margin-right: 30px;
    font-size: 90px;
    margin-top: 30px;
}

.back-arrow {
    float: inline-start;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 50px;
}

.btn-plats {
    background-color: white;
    border-radius: 50px;
    width: 92%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 5px;
    padding-top: 20px;
    padding-left: 20px;
}

.numbers {
    float: left;
    margin-left: -30px;
    background-color: $colour-primary;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 100%;
}

.commander-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}