.explorer-button {
    background: linear-gradient(38deg, #9356dc, #ff79da);
    background-size: 400% 400%;
    -webkit-animation: Button-gradian 6s ease infinite;
    -moz-animation: Button-gradian 6s ease infinite;
    -o-animation: Button-gradian 6s ease infinite;
    animation: Button-gradian 6s ease infinite;
    height: 140px;
    width: 600px;
    border-radius: 90px;
    border-style: none;
    box-shadow: 0px 5px 10px rgb(164, 164, 164);
    &:hover {
        cursor: pointer;
    }
}

.fonctionnement-buttons {
    width: 850px;
    height: 150px;
    margin-bottom: 50px;
    border-radius: 25px;
    border-style: none;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 5px 10px rgb(219, 219, 219);
    transition-property: background-color;
    transition-duration: 500ms;
        .fonctionnement-icons {
        color: grey;
        float: left;
        margin-left: 70px;
        vertical-align: baseline;
            }
        }

.fonctionnement-buttons:hover {
    background-color: rgb(215, 205, 253);
    .fonctionnement-icons {
        color: #9356dc;
    }
}

.fonctionnement-button-text {
    float: left;
    padding-left: 100px;
    vertical-align: baseline;
}

.heart-main {
    float: right;
    margin-right: 30px;
    font-size: 90px;
    margin-top: 30px;
}

.heart {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #000;
    border-width: 10px;
    transition-property: color;
    transition-duration: 1s;
    transition: all 330ms ease-in-out;
        &:hover{
            color: rgb(168, 0, 62);
            cursor: pointer;
            transform: none;
        }
}

.back-arrow {
    float: inline-start;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 50px;
}

.btn-plats {
    background-color: white;
    border-radius: 50px;
    width: 92%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

    .btn-plats:hover {
        cursor: pointer;
        .green-ok {
            width: 20%;
        }
        .fa-circle-check {
            opacity: 100%;
            transform: rotate(360deg)
        }
        .description-menus {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 500px;
            height: 50px;
        }
    }

    .btn-plats:active {
        cursor: pointer;
        .green-ok {
            width: 20%;
        }
        .fa-circle-check {
            opacity: 100%;
            transform: rotate(360deg)
        }
        .description-menus {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 500px;
            height: 50px;
        }
    }

.green-ok {
    background-color: $colour-accent;
    width: 0%;
    height: 220px;
    float: right;
    margin-top: -140px;
    margin-right: 0px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    transition-duration: 500ms;
    transition-property: width;
    overflow-x: hidden;
}

.fa-circle-check {
    color: white;
    font-size: 80px;
    margin-top: 70px;
    margin-left: 30%;
    opacity: 0%;
    transition-duration: 500ms;
    transition-property: opacity transform;
    overflow-x: hidden;
}

.numbers {
    float: left;
    margin-left: -30px;
    background-color: $colour-primary;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 100%;
}

.commander-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}