@keyframes appairing {
    0% {
        opacity: 0%;
        transform: scaleY(0)
    }
    10% {
        transform: scaleY(1);
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes spinner-background {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}