.logo {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location {
    text-align: center;
    color: rgb(21, 21, 21);
}

.header-background {
    padding-top: 5%;
    background-color: white;
    height: 100px;
    display: block;
    box-shadow: 0px 1px 15px rgb(169, 169, 169);
}

.reservation-background {
    display: block;
    background-color: rgb(248, 248, 248);
    height: 650px;
}

.reserver-menu {
    max-width: 70%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.decouvrez-menu {
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 30px;
}

.fonctionnement {
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 800px;

}

.title-fonctionnement {
    text-align: center;
    padding-right: 400px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.fonctionnement-list {
    text-align: center;
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.restaurants {
    background-color: rgb(248, 248, 248);
    display: inline-block;
    width: 100%;
    height: 3000px;
}

.title-restaurants {
    text-align: center;
    padding-right: 500px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.pic-la-palette-du-gout {
    height: 450px;
    width: 900px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.la-palette-du-gout {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(219, 219, 219);
    transition-property: scale;
    transition-duration: 500ms;
}

.restaurant-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 18px;
    padding-left: 20px;
}

.restaurant-location {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 20px;
}

.pic-la-note-enchantee {
    height: 450px;
    width: 900px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.la-note-enchantee {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(219, 219, 219);
    transition-property: scale;
    transition-duration: 500ms;
}

.cards-padding {
    padding-top: 40px;
}

.pic-a-la-francaise {
    height: 450px;
    width: 900px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.a-la-francaise {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(219, 219, 219);
    transition-property: scale;
    transition-duration: 500ms;
}

.pic-le-delice-des-sens {
    height: 450px;
    width: 900px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.le-delice-des-sens {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(219, 219, 219);
    transition-property: scale;
    transition-duration: 500ms;
}

.logo-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 300px;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 400px;
    height: auto;
    color: white;
    font-size: 50px;
    font-family: 'Shrikhand', cursive;
}

.footer-background {
    background-color: rgb(59, 59, 59);
    display: inline-block;
    width: 100%;
    height: 700px;
}

.footer-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 200px;
    margin-top: 40px;
    width: 500px;
    height: auto;
}

.new {
    position: absolute;
    left: 400px;
    margin-top: 20px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: $colour-accent;

}

.a-la-francaise-menu-pic {
    width: 100%;
    height: auto;
    float: inline-start;
}

.menu-background {
    float: left;
    position: absolute;
    top: 700px;
    width: 100%;
    height: 3300px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(238, 238, 238);
}

.menu-background-2 {
    float: left;
    position: absolute;
    top: 700px;
    width: 100%;
    height: 3500px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(238, 238, 238);
}

.menu-title {
    margin-top: 80px;
    margin-left: 100px;
}

.btn-menu-title {
    margin-top: 15px;
}

.heart-menu {
    position: absolute;
    right: 100px;
    top: 80px;
}

.categories {
    margin-top: 50px;
    margin-left: 50px;
}

.price {
    float: right;
    margin-right: 50px;
    font-weight: 500;
    margin-top: -50px;
}

.categories-underline {
    background-color: $colour-accent;
    height: 10px;
    width: 112px;
}

.footer-background-menu {
    background-color: rgb(59, 59, 59);
    display: inline-block;
    width: 100%;
    height: 600px;
    padding-top: 3150px;
}

.footer-background-menu-2 {
    background-color: rgb(59, 59, 59);
    display: inline-block;
    width: 100%;
    height: 600px;
    padding-top: 2800px;
}

.btn-plats-1 {
    opacity: 0%;
    animation: 1500ms ease-in-out 1000ms 1 appairing;
    animation-fill-mode: forwards;
    transform-origin: 0% 100%;
}

.btn-plats-2 {
    opacity: 0%;
    animation: 2500ms ease-in-out 1500ms 1 appairing;
    animation-fill-mode: forwards;
    transform-origin: 0% 100%;
}

.btn-plats-3 {
    opacity: 0%;
    animation: 3000ms ease-in-out 2000ms 1 appairing;
    animation-fill-mode: forwards;
    transform-origin: 0% 100%;
}

.spinner-background {
    animation: 1s ease-in-out 3s 1 spinner-background;
    animation-fill-mode: forwards;
    opacity: 0%;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 50%;
}

.description-menus {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 700px;
}