* {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 40px;
    font-weight: 500;
    color: rgb(90, 90, 90);
}

h1 {
    font-size: 50px;
}

h3 {
    font-weight: 300;
    font-size: 45px;
    color: rgb(90, 90, 90);
}

.explorer-font {
    font-size: 42px;
    color: rgb(248, 248, 248);
    font-weight: 500;
}

.fonctionnement-buttons {
    font-size: 40px;
    font-weight: 500;
}

h4 {
    font-size: 42px;
    color: black;
}

h5 {
    font-size: 40px;
    font-weight: 300;
    color: black;
}

h6 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.new {
    font-size: 42px;
    color: green;
}